# Dependency directories
# 'node_modules' 폴더는 제외합니다.
node_modules/

# Build artifacts
# TypeScript(TS) 파일을 컴파일하여 생성된 결과물 폴더는 제외합니다.
bin/

# IDE files and temporary files
# .vscode 디렉토리와 로그 파일을 제외합니다.
.vscode/
*.log
*.tmp

# Environment variables
# 환경 변수 파일(.env)은 민감한 정보를 포함할 수 있으므로 제외합니다.
.env